# Assignment 3 - Pandas Data Analysis Practice

*This assignment is a part of the course ["Data Analysis with Python: Zero to Pandas"](https://jovian.ml/learn/data-analysis-with-python-zero-to-pandas)*

In this assignment, you'll get to practice some of the concepts and skills covered this tutorial: https://jovian.ml/aakashns/python-pandas-data-analysis

As you go through this notebook, you will find a **???** in certain places. To complete this assignment, you must replace all the **???** with appropriate values, expressions or statements to ensure that the notebook runs properly end-to-end. 

Some things to keep in mind:

* Make sure to run all the code cells, otherwise you may get errors like `NameError` for undefined variables.
* Do not change variable names, delete cells or disturb other existing code. It may cause problems during evaluation.
* In some cases, you may need to add some code cells or new statements before or after the line of code containing the **???**. 
* Since you'll be using a temporary online service for code execution, save your work by running `jovian.commit` at regular intervals.
* Questions marked **(Optional)** will not be considered for evaluation, and can be skipped. They are for your learning.

You can make submissions on this page: https://jovian.ml/learn/data-analysis-with-python-zero-to-pandas/assignment/assignment-3-pandas-practice

If you are stuck, you can ask for help on the community forum: https://jovian.ml/forum/t/assignment-3-pandas-practice/11225/3 . You can get help with errors or ask for hints, describe your approach in simple words, link to documentation, but **please don't ask for or share the full working answer code** on the forum.


## How to run the code and save your work

The recommended way to run this notebook is to click the "Run" button at the top of this page, and select "Run on Binder". This will run the notebook on [mybinder.org](https://mybinder.org), a free online service for running Jupyter notebooks. 

Before staring the assignment, let's save a snapshot of the assignment to your Jovian.ml profile, so that you can access it later, and continue your work.

In [29]:
import jovian

In [30]:
jovian.commit(project='pandas-practice-assignment', environment=None)

[jovian] Attempting to save notebook..
[jovian] Updating notebook "201812311/pandas-practice-assignment" on https://jovian.ml/
[jovian] Uploading notebook..
[jovian] Committed successfully! https://jovian.ml/201812311/pandas-practice-assignment

'https://jovian.ml/201812311/pandas-practice-assignment'

In [31]:
# Run the next line to install Pandas
!pip install pandas --upgrade

Requirement already up-to-date: pandas in c:\users\princ\pycharmprojects\data analysis with python- zero to pandas\venv\lib\site-packages (1.1.2)
Requirement already satisfied, skipping upgrade: pytz>=2017.2 in c:\users\princ\pycharmprojects\data analysis with python- zero to pandas\venv\lib\site-packages (from pandas) (2020.1)
Requirement already satisfied, skipping upgrade: numpy>=1.15.4 in c:\users\princ\pycharmprojects\data analysis with python- zero to pandas\venv\lib\site-packages (from pandas) (1.19.2)
Requirement already satisfied, skipping upgrade: python-dateutil>=2.7.3 in c:\users\princ\pycharmprojects\data analysis with python- zero to pandas\venv\lib\site-packages (from pandas) (2.8.1)
Requirement already satisfied, skipping upgrade: six>=1.5 in c:\users\princ\pycharmprojects\data analysis with python- zero to pandas\venv\lib\site-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)

In [32]:
import pandas as pd

In this assignment, we're going to analyze an operate on data from a CSV file. Let's begin by downloading the CSV file.

In [33]:
from urllib.request import urlretrieve

urlretrieve('https://hub.jovian.ml/wp-content/uploads/2020/09/countries.csv', 
            'countries.csv')

('countries.csv', <http.client.HTTPMessage at 0x16afe39f400>)

Let's load the data from the CSV file into a Pandas data frame.

In [34]:
countries_df = pd.read_csv('countries.csv')

In [35]:
countries_df

,location,continent,population,life_expectancy,hospital_beds_per_thousand,gdp_per_capita
0,Afghanistan,Asia,"38,928,341",65,0,"1,804"
1,Albania,Europe,"2,877,800",79,3,"11,803"
2,Algeria,Africa,"43,851,043",77,2,"13,914"
3,Andorra,Europe,"77,265",84,nan,nan
4,Angola,Africa,"32,866,268",61,nan,"5,819"
...,...,...,...,...,...,...
205,Vietnam,Asia,"97,338,583",75,3,"6,172"
206,Western Sahara,Africa,"597,330",70,nan,nan
207,Yemen,Asia,"29,825,968",66,1,"1,479"
208,Zambia,Africa,"18,383,956",64,2,"3,689"
209,Zimbabwe,Africa,"14,862,927",61,2,"1,900"

**Q: How many countries does the dataframe contain?**

Hint: Use the `.shape` method.

In [36]:
num_countries = countries_df.shape[0]

In [37]:
print('There are {} countries in the dataset'.format(num_countries))

There are 210 countries in the dataset

In [38]:
jovian.commit(project='pandas-practice-assignment', environment=None)

[jovian] Attempting to save notebook..
[jovian] Updating notebook "201812311/pandas-practice-assignment" on https://jovian.ml/
[jovian] Uploading notebook..
[jovian] Committed successfully! https://jovian.ml/201812311/pandas-practice-assignment

'https://jovian.ml/201812311/pandas-practice-assignment'

**Q: Retrieve a list of continents from the dataframe?**

*Hint: Use the `.unique` method of a series.*

In [39]:
continents = countries_df["continent"].unique()

In [40]:
continents

array(['Asia', 'Europe', 'Africa', 'North America', 'South America',
       'Oceania'], dtype=object)

In [41]:
jovian.commit(project='pandas-practice-assignment', environment=None)

[jovian] Attempting to save notebook..
[jovian] Updating notebook "201812311/pandas-practice-assignment" on https://jovian.ml/
[jovian] Uploading notebook..
[jovian] Committed successfully! https://jovian.ml/201812311/pandas-practice-assignment

'https://jovian.ml/201812311/pandas-practice-assignment'

**Q: What is the total population of all the countries listed in this dataset?**

In [42]:
total_population = countries_df["population"].sum()

In [43]:
print('The total population is {}.'.format(int(total_population)))

The total population is 7757980095.

In [44]:
jovian.commit(project='pandas-practice-assignment', environment=None)

[jovian] Attempting to save notebook..
[jovian] Updating notebook "201812311/pandas-practice-assignment" on https://jovian.ml/
[jovian] Uploading notebook..
[jovian] Committed successfully! https://jovian.ml/201812311/pandas-practice-assignment

'https://jovian.ml/201812311/pandas-practice-assignment'

**Q: (Optional) What is the overall life expectancy across in the world?**

*Hint: You'll need to take a weighted average of life expectancy using populations as weights.*

In [45]:
avg_life_expectancy = countries_df["life_expectancy"].sum() / countries_df.shape[0]

In [46]:
print('The average life expectancy across the world is {:.2f}.'.format(avg_life_expectancy))

The average life expectancy across the world is 72.48.

In [47]:
jovian.commit(project='pandas-practice-assignment', environment=None)

[jovian] Attempting to save notebook..
[jovian] Updating notebook "201812311/pandas-practice-assignment" on https://jovian.ml/
[jovian] Uploading notebook..
[jovian] Committed successfully! https://jovian.ml/201812311/pandas-practice-assignment

'https://jovian.ml/201812311/pandas-practice-assignment'

**Q: Create a dataframe containing 10 countries with the highest population.**

*Hint: Chain the `sort_values` and `head` methods.*

In [48]:
most_populous_df = countries_df[["location", "population"]].sort_values(ascending=False, by=["population"]).head(10)

In [49]:
pd.options.display.float_format = '{:,.0f}'.format # Format with thousands comma separator
most_populous_df

          location    population
41           China 1,439,323,774
90           India 1,380,004,385
199  United States   331,002,647
91       Indonesia   273,523,621
145       Pakistan   220,892,331
27          Brazil   212,559,409
141        Nigeria   206,139,587
15      Bangladesh   164,689,383
157         Russia   145,934,460
125         Mexico   128,932,753

In [50]:
jovian.commit(project='pandas-practice-assignment', environment=None)

[jovian] Attempting to save notebook..
[jovian] Updating notebook "201812311/pandas-practice-assignment" on https://jovian.ml/
[jovian] Uploading notebook..
[jovian] Committed successfully! https://jovian.ml/201812311/pandas-practice-assignment

'https://jovian.ml/201812311/pandas-practice-assignment'

**Q: Add a new column in `countries_df` to record the overall GDP per country (product of population & per capita GDP).**

In [51]:
countries_df = countries_df.set_index("location")

In [52]:
countries_df['gdp'] = countries_df.groupby("location")["population"].sum() * countries_df.groupby("location")["gdp_per_capita"].sum()

In [ ]:
countries_df.reset_index() # Reset index to its original state

In [59]:
jovian.commit(project='pandas-practice-assignment', environment=None)

,location,continent,population,life_expectancy,hospital_beds_per_thousand,gdp_per_capita,gdp
0,Afghanistan,Asia,"38,928,341",65,0,"1,804","70,226,221,096"
1,Albania,Europe,"2,877,800",79,3,"11,803","33,967,913,732"
2,Algeria,Africa,"43,851,043",77,2,"13,914","610,136,352,284"
3,Andorra,Europe,"77,265",84,nan,nan,0
4,Angola,Africa,"32,866,268",61,nan,"5,819","191,265,082,295"
...,...,...,...,...,...,...,...
205,Vietnam,Asia,"97,338,583",75,3,"6,172","600,762,443,000"
206,Western Sahara,Africa,"597,330",70,nan,nan,0
207,Yemen,Asia,"29,825,968",66,1,"1,479","44,116,991,089"
208,Zambia,Africa,"18,383,956",64,2,"3,689","67,823,028,057"
209,Zimbabwe,Africa,"14,862,927",61,2,"1,900","28,236,217,141"

In [60]:
jovian.commit(project='pandas-practice-assignment', environment=None)

[jovian] Attempting to save notebook..
[jovian] Updating notebook "201812311/pandas-practice-assignment" on https://jovian.ml/
[jovian] Uploading notebook..
[jovian] Committed successfully! https://jovian.ml/201812311/pandas-practice-assignment

'https://jovian.ml/201812311/pandas-practice-assignment'

**Q: (Optional) Create a dataframe containing 10 countries with the lowest GDP per capita, among the counties with population greater than 100 million.**

In [55]:
jovian.commit(project='pandas-practice-assignment', environment=None)

[jovian] Attempting to save notebook..
[jovian] Updating notebook "201812311/pandas-practice-assignment" on https://jovian.ml/
[jovian] Uploading notebook..
[jovian] Committed successfully! https://jovian.ml/201812311/pandas-practice-assignment

'https://jovian.ml/201812311/pandas-practice-assignment'

**Q: Create a data frame that counts the number countries in each continent?**

*Hint: Use `groupby`, select the `location` column and aggregate using `count`.*

In [56]:
country_counts_df = ???

SyntaxError: invalid syntax (<ipython-input-56-ae2e60e7bdbc>, line 1)

In [ ]:
country_counts_df

In [ ]:
jovian.commit(project='pandas-practice-assignment', environment=None)

**Q: Create a data frame showing the total population of each continent.**

*Hint: Use `groupby`, select the population column and aggregate using `sum`.*

In [ ]:
continent_populations_df = ???

In [ ]:
continent_populations_df

In [ ]:
jovian.commit(project='pandas-practice-assignment', environment=None)

Let's download another CSV file containing overall Covid-19 stats for various countires, and read the data into another Pandas data frame.

In [ ]:
urlretrieve('https://hub.jovian.ml/wp-content/uploads/2020/09/covid-countries-data.csv', 
            'covid-countries-data.csv')

In [ ]:
covid_data_df = pd.read_csv('covid-countries-data.csv')

In [ ]:
covid_data_df

**Q: Count the number of countries for which the `total_tests` data is missing.**

*Hint: Use the `.isna` method.*

In [ ]:
total_tests_missing = ???

In [ ]:
print("The data for total tests is missing for {} countries.".format(int(total_tests_missing)))

In [ ]:
jovian.commit(project='pandas-practice-assignment', environment=None)

Let's merge the two data frames, and compute some more metrics.

**Q: Merge `countries_df` with `covid_data_df` on the `location` column.**

*Hint: Use the `.merge` method on `countries_df`.

In [ ]:
combined_df = ???

In [ ]:
combined_df

In [ ]:
jovian.commit(project='pandas-practice-assignment', environment=None)

**Q: Add columns `tests_per_million`, `cases_per_million` and `deaths_per_million` into `combined_df`.**

In [ ]:
combined_df['tests_per_million'] = combined_df['total_tests'] * 1e6 / combined_df['population']

In [ ]:
combined_df['cases_per_million'] = ???

In [ ]:
combined_df['deaths_per_million'] = ???

In [ ]:
combined_df

In [ ]:
jovian.commit(project='pandas-practice-assignment', environment=None)

**Q: Create a dataframe with 10 countires that have highest number of tests per million people.**

In [ ]:
highest_tests_df = ???

In [ ]:
highest_tests_df

In [ ]:
jovian.commit(project='pandas-practice-assignment', environment=None)

**Q: Create a dataframe with 10 countires that have highest number of positive cases per million people.**

In [ ]:
highest_cases_df = ???

In [ ]:
highest_cases_df

In [ ]:
jovian.commit(project='pandas-practice-assignment', environment=None)

**Q: Create a dataframe with 10 countires that have highest number of deaths cases per million people?**

In [ ]:
highest_deaths_df = ???

In [ ]:
highest_deaths_df

In [ ]:
jovian.commit(project='pandas-practice-assignment', environment=None)

**(Optional) Q: Count number of countries that feature in both the lists of "highest number of tests per million" and "highest number of cases per million".**

In [ ]:
jovian.commit(project='pandas-practice-assignment', environment=None)

**(Optional) Q: Count number of countries that feature in both the lists "20 countries with lowest GDP per capita" and "20 countries with the lowest number of hospital beds per thousand population". Only consider countries with a population higher than 10 million while creating the list.**

In [ ]:
import jovian

In [ ]:
jovian.commit(project='pandas-practice-assignment', environment=None)

## Submission 

Congratulations on making it this far! You've reached the end of this assignment, and you just completed your first real-world data analysis problem. It's time to record one final version of your notebook for submission.

Make a submission here by filling the submission form: https://jovian.ml/learn/data-analysis-with-python-zero-to-pandas/assignment/assignment-3-pandas-practice

Also make sure to help others on the forum: https://jovian.ml/forum/t/assignment-3-pandas-practice/11225/2