# Assignment 3 - Pandas Data Analysis Practice

*This assignment is a part of the course ["Data Analysis with Python: Zero to Pandas"](https://jovian.ml/learn/data-analysis-with-python-zero-to-pandas)*

In this assignment, you'll get to practice some of the concepts and skills covered this tutorial: https://jovian.ml/aakashns/python-pandas-data-analysis

As you go through this notebook, you will find a **???** in certain places. To complete this assignment, you must replace all the **???** with appropriate values, expressions or statements to ensure that the notebook runs properly end-to-end. 

Some things to keep in mind:

* Make sure to run all the code cells, otherwise you may get errors like `NameError` for undefined variables.
* Do not change variable names, delete cells or disturb other existing code. It may cause problems during evaluation.
* In some cases, you may need to add some code cells or new statements before or after the line of code containing the **???**. 
* Since you'll be using a temporary online service for code execution, save your work by running `jovian.commit` at regular intervals.
* Questions marked **(Optional)** will not be considered for evaluation, and can be skipped. They are for your learning.

You can make submissions on this page: https://jovian.ml/learn/data-analysis-with-python-zero-to-pandas/assignment/assignment-3-pandas-practice

If you are stuck, you can ask for help on the community forum: https://jovian.ml/forum/t/assignment-3-pandas-practice/11225/3 . You can get help with errors or ask for hints, describe your approach in simple words, link to documentation, but **please don't ask for or share the full working answer code** on the forum.


## How to run the code and save your work

The recommended way to run this notebook is to click the "Run" button at the top of this page, and select "Run on Binder". This will run the notebook on [mybinder.org](https://mybinder.org), a free online service for running Jupyter notebooks. 

Before staring the assignment, let's save a snapshot of the assignment to your Jovian.ml profile, so that you can access it later, and continue your work.

In [29]:
import jovian

In [30]:
jovian.commit(project='pandas-practice-assignment', environment=None)

[jovian] Attempting to save notebook..
[jovian] Updating notebook "201812311/pandas-practice-assignment" on https://jovian.ml/
[jovian] Uploading notebook..
[jovian] Committed successfully! https://jovian.ml/201812311/pandas-practice-assignment

'https://jovian.ml/201812311/pandas-practice-assignment'

In [31]:
# Run the next line to install Pandas
!pip install pandas --upgrade

Requirement already up-to-date: pandas in c:\users\princ\pycharmprojects\data analysis with python- zero to pandas\venv\lib\site-packages (1.1.2)
Requirement already satisfied, skipping upgrade: pytz>=2017.2 in c:\users\princ\pycharmprojects\data analysis with python- zero to pandas\venv\lib\site-packages (from pandas) (2020.1)
Requirement already satisfied, skipping upgrade: numpy>=1.15.4 in c:\users\princ\pycharmprojects\data analysis with python- zero to pandas\venv\lib\site-packages (from pandas) (1.19.2)
Requirement already satisfied, skipping upgrade: python-dateutil>=2.7.3 in c:\users\princ\pycharmprojects\data analysis with python- zero to pandas\venv\lib\site-packages (from pandas) (2.8.1)
Requirement already satisfied, skipping upgrade: six>=1.5 in c:\users\princ\pycharmprojects\data analysis with python- zero to pandas\venv\lib\site-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)

In [32]:
import pandas as pd

In this assignment, we're going to analyze an operate on data from a CSV file. Let's begin by downloading the CSV file.

In [33]:
from urllib.request import urlretrieve

urlretrieve('https://hub.jovian.ml/wp-content/uploads/2020/09/countries.csv', 
            'countries.csv')

('countries.csv', <http.client.HTTPMessage at 0x16afe39f400>)

Let's load the data from the CSV file into a Pandas data frame.

In [34]:
countries_df = pd.read_csv('countries.csv')

In [35]:
countries_df

,location,continent,population,life_expectancy,hospital_beds_per_thousand,gdp_per_capita
0,Afghanistan,Asia,"38,928,341",65,0,"1,804"
1,Albania,Europe,"2,877,800",79,3,"11,803"
2,Algeria,Africa,"43,851,043",77,2,"13,914"
3,Andorra,Europe,"77,265",84,nan,nan
4,Angola,Africa,"32,866,268",61,nan,"5,819"
...,...,...,...,...,...,...
205,Vietnam,Asia,"97,338,583",75,3,"6,172"
206,Western Sahara,Africa,"597,330",70,nan,nan
207,Yemen,Asia,"29,825,968",66,1,"1,479"
208,Zambia,Africa,"18,383,956",64,2,"3,689"
209,Zimbabwe,Africa,"14,862,927",61,2,"1,900"

**Q: How many countries does the dataframe contain?**

Hint: Use the `.shape` method.

In [36]:
num_countries = countries_df.shape[0]

In [37]:
print('There are {} countries in the dataset'.format(num_countries))

There are 210 countries in the dataset

In [38]:
jovian.commit(project='pandas-practice-assignment', environment=None)

[jovian] Attempting to save notebook..
[jovian] Updating notebook "201812311/pandas-practice-assignment" on https://jovian.ml/
[jovian] Uploading notebook..
[jovian] Committed successfully! https://jovian.ml/201812311/pandas-practice-assignment

'https://jovian.ml/201812311/pandas-practice-assignment'

**Q: Retrieve a list of continents from the dataframe?**

*Hint: Use the `.unique` method of a series.*

In [39]:
continents = countries_df["continent"].unique()

In [40]:
continents

array(['Asia', 'Europe', 'Africa', 'North America', 'South America',
       'Oceania'], dtype=object)

In [41]:
jovian.commit(project='pandas-practice-assignment', environment=None)

[jovian] Attempting to save notebook..
[jovian] Updating notebook "201812311/pandas-practice-assignment" on https://jovian.ml/
[jovian] Uploading notebook..
[jovian] Committed successfully! https://jovian.ml/201812311/pandas-practice-assignment

'https://jovian.ml/201812311/pandas-practice-assignment'

**Q: What is the total population of all the countries listed in this dataset?**

In [42]:
total_population = countries_df["population"].sum()

In [43]:
print('The total population is {}.'.format(int(total_population)))

The total population is 7757980095.

In [44]:
jovian.commit(project='pandas-practice-assignment', environment=None)

[jovian] Attempting to save notebook..
[jovian] Updating notebook "201812311/pandas-practice-assignment" on https://jovian.ml/
[jovian] Uploading notebook..
[jovian] Committed successfully! https://jovian.ml/201812311/pandas-practice-assignment

'https://jovian.ml/201812311/pandas-practice-assignment'

**Q: (Optional) What is the overall life expectancy across in the world?**

*Hint: You'll need to take a weighted average of life expectancy using populations as weights.*

In [45]:
avg_life_expectancy = countries_df["life_expectancy"].sum() / countries_df.shape[0]

In [46]:
print('The average life expectancy across the world is {:.2f}.'.format(avg_life_expectancy))

The average life expectancy across the world is 72.48.

In [47]:
jovian.commit(project='pandas-practice-assignment', environment=None)

[jovian] Attempting to save notebook..
[jovian] Updating notebook "201812311/pandas-practice-assignment" on https://jovian.ml/
[jovian] Uploading notebook..
[jovian] Committed successfully! https://jovian.ml/201812311/pandas-practice-assignment

'https://jovian.ml/201812311/pandas-practice-assignment'

**Q: Create a dataframe containing 10 countries with the highest population.**

*Hint: Chain the `sort_values` and `head` methods.*

In [48]:
most_populous_df = countries_df[["location", "population"]].sort_values(ascending=False, by=["population"]).head(10)

In [49]:
pd.options.display.float_format = '{:,.0f}'.format # Format with thousands comma separator
most_populous_df

          location    population
41           China 1,439,323,774
90           India 1,380,004,385
199  United States   331,002,647
91       Indonesia   273,523,621
145       Pakistan   220,892,331
27          Brazil   212,559,409
141        Nigeria   206,139,587
15      Bangladesh   164,689,383
157         Russia   145,934,460
125         Mexico   128,932,753

In [50]:
jovian.commit(project='pandas-practice-assignment', environment=None)

[jovian] Attempting to save notebook..
[jovian] Updating notebook "201812311/pandas-practice-assignment" on https://jovian.ml/
[jovian] Uploading notebook..
[jovian] Committed successfully! https://jovian.ml/201812311/pandas-practice-assignment

'https://jovian.ml/201812311/pandas-practice-assignment'

**Q: Add a new column in `countries_df` to record the overall GDP per country (product of population & per capita GDP).**

In [51]:
countries_df = countries_df.set_index("location")

In [52]:
countries_df['gdp'] = countries_df.groupby("location")["population"].sum() * countries_df.groupby("location")["gdp_per_capita"].sum()

In [75]:
countries_df = countries_df.reset_index() # Reset index to its original state

In [60]:
jovian.commit(project='pandas-practice-assignment', environment=None)

[jovian] Attempting to save notebook..
[jovian] Updating notebook "201812311/pandas-practice-assignment" on https://jovian.ml/
[jovian] Uploading notebook..
[jovian] Committed successfully! https://jovian.ml/201812311/pandas-practice-assignment

'https://jovian.ml/201812311/pandas-practice-assignment'

**Q: (Optional) Create a dataframe containing 10 countries with the lowest GDP per capita, among the counties with population greater than 100 million.**

In [77]:
low_gdp_pop_100m = countries_df[countries_df["population"] > 100000000].sort_values(by="gdp_per_capita").head(10)

In [78]:
low_gdp_pop_100m

,location,continent,population,life_expectancy,hospital_beds_per_thousand,gdp_per_capita,gdp
63,Ethiopia,Africa,"114,963,583",67,0,"1,730","198,878,606,248"
15,Bangladesh,Asia,"164,689,383",73,1,"3,524","580,362,750,662"
145,Pakistan,Asia,"220,892,331",67,1,"5,035","1,112,128,386,024"
141,Nigeria,Africa,"206,139,587",55,nan,"5,338","1,100,466,702,778"
90,India,Asia,"1,380,004,385",70,1,"6,427","8,868,838,300,965"
151,Philippines,Asia,"109,581,085",71,1,"7,599","832,727,266,159"
58,Egypt,Africa,"102,334,403",72,2,"10,550","1,079,649,032,537"
91,Indonesia,Asia,"273,523,621",72,1,"11,189","3,060,385,773,322"
27,Brazil,South America,"212,559,409",76,2,"14,103","2,997,821,421,980"
41,China,Asia,"1,439,323,774",77,4,"15,309","22,034,193,130,919"

In [71]:
jovian.commit(project='pandas-practice-assignment', environment=None)

[jovian] Attempting to save notebook..
[jovian] Updating notebook "201812311/pandas-practice-assignment" on https://jovian.ml/
[jovian] Uploading notebook..
[jovian] Committed successfully! https://jovian.ml/201812311/pandas-practice-assignment

'https://jovian.ml/201812311/pandas-practice-assignment'

**Q: Create a data frame that counts the number countries in each continent?**

*Hint: Use `groupby`, select the `location` column and aggregate using `count`.*

In [110]:
country_counts_df = countries_df.groupby("continent")[["location"]].count()

In [114]:
country_counts_df.rename(columns={"location":"country"})

               country
continent
Africa              55
Asia                47
Europe              51
North America       36
Oceania              8
South America       13

In [82]:
jovian.commit(project='pandas-practice-assignment', environment=None)

[jovian] Attempting to save notebook..
[jovian] Updating notebook "201812311/pandas-practice-assignment" on https://jovian.ml/
[jovian] Uploading notebook..
[jovian] Committed successfully! https://jovian.ml/201812311/pandas-practice-assignment

'https://jovian.ml/201812311/pandas-practice-assignment'

**Q: Create a data frame showing the total population of each continent.**

*Hint: Use `groupby`, select the population column and aggregate using `sum`.*

In [88]:
continent_populations_df = countries_df.groupby("continent")[["continent", "population"]].sum()

In [115]:
continent_populations_df

                 population
continent
Africa        1,339,423,921
Asia          4,607,388,081
Europe          748,506,210
North America   591,242,473
Oceania          40,958,320
South America   430,461,090

In [116]:
jovian.commit(project='pandas-practice-assignment', environment=None)

[jovian] Attempting to save notebook..
[jovian] Updating notebook "201812311/pandas-practice-assignment" on https://jovian.ml/
[jovian] Uploading notebook..
[jovian] Committed successfully! https://jovian.ml/201812311/pandas-practice-assignment

'https://jovian.ml/201812311/pandas-practice-assignment'

Let's download another CSV file containing overall Covid-19 stats for various countires, and read the data into another Pandas data frame.

In [117]:
urlretrieve('https://hub.jovian.ml/wp-content/uploads/2020/09/covid-countries-data.csv', 
            'covid-countries-data.csv')

('covid-countries-data.csv', <http.client.HTTPMessage at 0x16afe3a8700>)

In [118]:
covid_data_df = pd.read_csv('covid-countries-data.csv')

In [119]:
covid_data_df

           location  total_cases  total_deaths  total_tests
0       Afghanistan       38,243         1,409          nan
1           Albania        9,728           296          nan
2           Algeria       45,158         1,525          nan
3           Andorra        1,199            53          nan
4            Angola        2,729           109          nan
..              ...          ...           ...          ...
207  Western Sahara          766             1          nan
208           World   26,059,065       863,535          nan
209           Yemen        1,976           571          nan
210          Zambia       12,415           292          nan
211        Zimbabwe        6,638           206       97,272

[212 rows x 4 columns]

**Q: Count the number of countries for which the `total_tests` data is missing.**

*Hint: Use the `.isna` method.*

In [134]:
total_tests_missing = covid_data_df.isna().shape[0]

In [135]:
print("The data for total tests is missing for {} countries.".format(int(total_tests_missing)))

The data for total tests is missing for 212 countries.

In [136]:
jovian.commit(project='pandas-practice-assignment', environment=None)

[jovian] Attempting to save notebook..
[jovian] Updating notebook "201812311/pandas-practice-assignment" on https://jovian.ml/
[jovian] Uploading notebook..
[jovian] Committed successfully! https://jovian.ml/201812311/pandas-practice-assignment

'https://jovian.ml/201812311/pandas-practice-assignment'

Let's merge the two data frames, and compute some more metrics.

**Q: Merge `countries_df` with `covid_data_df` on the `location` column.**

*Hint: Use the `.merge` method on `countries_df`.

In [137]:
combined_df = countries_df.merge(covid_data_df, left_on="location", right_on="location")

In [138]:
combined_df

,location,continent,population,life_expectancy,hospital_beds_per_thousand,gdp_per_capita,gdp,total_cases,total_deaths,total_tests
0,Afghanistan,Asia,"38,928,341",65,0,"1,804","70,226,221,096","38,243","1,409",nan
1,Albania,Europe,"2,877,800",79,3,"11,803","33,967,913,732","9,728",296,nan
2,Algeria,Africa,"43,851,043",77,2,"13,914","610,136,352,284","45,158","1,525",nan
3,Andorra,Europe,"77,265",84,nan,nan,0,"1,199",53,nan
4,Angola,Africa,"32,866,268",61,nan,"5,819","191,265,082,295","2,729",109,nan
...,...,...,...,...,...,...,...,...,...,...
205,Vietnam,Asia,"97,338,583",75,3,"6,172","600,762,443,000","1,046",35,"261,004"
206,Western Sahara,Africa,"597,330",70,nan,nan,0,766,1,nan
207,Yemen,Asia,"29,825,968",66,1,"1,479","44,116,991,089","1,976",571,nan
208,Zambia,Africa,"18,383,956",64,2,"3,689","67,823,028,057","12,415",292,nan
209,Zimbabwe,Africa,"14,862,927",61,2,"1,900","28,236,217,141","6,638",206,"97,272"

In [139]:
jovian.commit(project='pandas-practice-assignment', environment=None)

[jovian] Attempting to save notebook..
[jovian] Updating notebook "201812311/pandas-practice-assignment" on https://jovian.ml/
[jovian] Uploading notebook..
[jovian] Committed successfully! https://jovian.ml/201812311/pandas-practice-assignment

'https://jovian.ml/201812311/pandas-practice-assignment'

**Q: Add columns `tests_per_million`, `cases_per_million` and `deaths_per_million` into `combined_df`.**

In [140]:
combined_df['tests_per_million'] = combined_df['total_tests'] * 1e6 / combined_df['population']

In [141]:
combined_df['cases_per_million'] = combined_df['total_cases'] * 1e6 / combined_df['population']

In [142]:
combined_df['deaths_per_million'] = combined_df['total_deaths'] * 1e6 / combined_df['population']

In [143]:
combined_df

,location,continent,population,life_expectancy,hospital_beds_per_thousand,gdp_per_capita,gdp,total_cases,total_deaths,total_tests,tests_per_million,cases_per_million,deaths_per_million
0,Afghanistan,Asia,"38,928,341",65,0,"1,804","70,226,221,096","38,243","1,409",nan,nan,982,36
1,Albania,Europe,"2,877,800",79,3,"11,803","33,967,913,732","9,728",296,nan,nan,"3,380",103
2,Algeria,Africa,"43,851,043",77,2,"13,914","610,136,352,284","45,158","1,525",nan,nan,"1,030",35
3,Andorra,Europe,"77,265",84,nan,nan,0,"1,199",53,nan,nan,"15,518",686
4,Angola,Africa,"32,866,268",61,nan,"5,819","191,265,082,295","2,729",109,nan,nan,83,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...
205,Vietnam,Asia,"97,338,583",75,3,"6,172","600,762,443,000","1,046",35,"261,004","2,681",11,0
206,Western Sahara,Africa,"597,330",70,nan,nan,0,766,1,nan,nan,"1,282",2
207,Yemen,Asia,"29,825,968",66,1,"1,479","44,116,991,089","1,976",571,nan,nan,66,19
208,Zambia,Africa,"18,383,956",64,2,"3,689","67,823,028,057","12,415",292,nan,nan,675,16
209,Zimbabwe,Africa,"14,862,927",61,2,"1,900","28,236,217,141","6,638",206,"97,272","6,545",447,14

In [144]:
jovian.commit(project='pandas-practice-assignment', environment=None)

[jovian] Attempting to save notebook..
[jovian] Updating notebook "201812311/pandas-practice-assignment" on https://jovian.ml/
[jovian] Uploading notebook..
[jovian] Committed successfully! https://jovian.ml/201812311/pandas-practice-assignment

'https://jovian.ml/201812311/pandas-practice-assignment'

**Q: Create a dataframe with 10 countires that have highest number of tests per million people.**

In [147]:
highest_tests_df = combined_df[["location", "tests_per_million"]].sort_values(ascending=False, by="tests_per_million").head(10)

In [148]:
highest_tests_df

                 location  tests_per_million
197  United Arab Emirates            725,697
14                Bahrain            657,527
115            Luxembourg            616,350
122                 Malta            427,004
53                Denmark            422,622
96                 Israel            271,963
89                Iceland            260,305
157                Russia            254,750
199         United States            253,468
10              Australia            245,327

In [149]:
jovian.commit(project='pandas-practice-assignment', environment=None)

[jovian] Attempting to save notebook..
[jovian] Updating notebook "201812311/pandas-practice-assignment" on https://jovian.ml/
[jovian] Uploading notebook..
[jovian] Committed successfully! https://jovian.ml/201812311/pandas-practice-assignment

'https://jovian.ml/201812311/pandas-practice-assignment'

**Q: Create a dataframe with 10 countires that have highest number of positive cases per million people.**

In [150]:
highest_cases_df = combined_df[["location", "cases_per_million"]].sort_values(ascending=False, by="cases_per_million").head(10)

In [151]:
highest_cases_df

          location  cases_per_million
155          Qatar             41,376
14         Bahrain             30,818
147         Panama             21,805
40           Chile             21,696
162     San Marino             21,657
9            Aruba             20,709
105         Kuwait             20,250
150           Peru             20,121
27          Brazil             18,808
199  United States             18,472

In [152]:
jovian.commit(project='pandas-practice-assignment', environment=None)

[jovian] Attempting to save notebook..
[jovian] Updating notebook "201812311/pandas-practice-assignment" on https://jovian.ml/
[jovian] Uploading notebook..
[jovian] Committed successfully! https://jovian.ml/201812311/pandas-practice-assignment

'https://jovian.ml/201812311/pandas-practice-assignment'

**Q: Create a dataframe with 10 countires that have highest number of deaths cases per million people?**

In [153]:
highest_deaths_df = combined_df[["location", "deaths_per_million"]].sort_values(ascending=False, by="deaths_per_million").head(10)

In [154]:
highest_deaths_df

           location  deaths_per_million
162      San Marino               1,238
150            Peru                 887
18          Belgium                 854
3           Andorra                 686
177           Spain                 624
198  United Kingdom                 612
40            Chile                 593
97            Italy                 587
27           Brazil                 582
182          Sweden                 576

In [155]:
jovian.commit(project='pandas-practice-assignment', environment=None)

[jovian] Attempting to save notebook..
[jovian] Updating notebook "201812311/pandas-practice-assignment" on https://jovian.ml/
[jovian] Uploading notebook..
[jovian] Committed successfully! https://jovian.ml/201812311/pandas-practice-assignment

'https://jovian.ml/201812311/pandas-practice-assignment'

**(Optional) Q: Count number of countries that feature in both the lists of "highest number of tests per million" and "highest number of cases per million".**

In [ ]:
jovian.commit(project='pandas-practice-assignment', environment=None)

[jovian] Attempting to save notebook..

**(Optional) Q: Count number of countries that feature in both the lists "20 countries with lowest GDP per capita" and "20 countries with the lowest number of hospital beds per thousand population". Only consider countries with a population higher than 10 million while creating the list.**

In [ ]:
import jovian

In [ ]:
jovian.commit(project='pandas-practice-assignment', environment=None)

## Submission 

Congratulations on making it this far! You've reached the end of this assignment, and you just completed your first real-world data analysis problem. It's time to record one final version of your notebook for submission.

Make a submission here by filling the submission form: https://jovian.ml/learn/data-analysis-with-python-zero-to-pandas/assignment/assignment-3-pandas-practice

Also make sure to help others on the forum: https://jovian.ml/forum/t/assignment-3-pandas-practice/11225/2